* {
  font-family: sans-serif;
  font-size: 15px;
    

}

div {
    

}

.A4 {
  margin: 0 auto;
    margin-bottom: 5px;
    box-sizing: border-box;
    height: 297mm;
  width: 210mm;
    padding: 1cm;
    background: -webkit-radial-gradient(center, ellipse cover, rgba(229, 244, 255, 0.6) 0%, rgba(229, 244, 255, 0.6) 46%, rgba(125,177,255,0.6) 100%), url(../images/PEnJm.png) repeat;
}

#A4> div {
    overflow: hidden;
}

#personal_data {
    float: right;
    max-width: 439px;
    clear: both;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 0;
  }

h3 {
    text-align: center;
    font-size: 18px;
}

#photo {
    display: inline-block;
    width: auto;
    height: 245px;
    margin-left: 22px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 10px solid #0468DB;
}
#content {
    
} 


#content> p {
  clear: both;
    text-align: center;
   
}

#pro_data {
  margin-bottom: none;
  display: flex;
  justify-content: space-between;
}

#pro_data div p {
    font-size: 16px;
    font-weight: bold;
}

#pro_data img {
    margin-left: -19px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#pro_data div:nth-child(1) {
  flex: 8;
  padding-right: 10px;

}

#pro_data div:nth-child(2) {
  flex: 11;
}

#pro_data div p {
  text-align: center;
  }

#courses {
    margin: 55px 0;
}

#experience {
    overflow: hidden;
}

#roister, #io, #sb, #forbes {
    border: 3px solid #0468DB;
    border-radius: 6px;
    padding: 0 10px;
}

#roister, #io, #sb {
    margin-bottom: 10px;
}

#experience ul {
   width: 46%;
    vertical-align: top;
    display: inline-block;
}

#roister img {
    height: 180px;
    float: right;
    margin-top: 37px;
    margin-right: -2px;
}

#io img {
        height: 180px;
    float: right;
    margin-top: 44px;
    margin-right: 0px;
}

#sb img {
    height: 180px;
    float: right;
    margin-right: 16px;
}

#forbes img {
    height: 180px;
    float: right;
    margin-top: 2px;
    margin-right: 0px;
}

#sb_f {
    display: flex;
}

#sb_f div:nth-child(1){
    flex: 9;
}

#sb_f div:nth-child(2){
    flex: 4;
}

span {
    font-style: italic;
}

h4 {
    margin-bottom: 0;
}

#content #experience ul {
    margin-top: 0;
}

#sb ul {
    width: 40%;
    padding-top: 14px;
}

#bonus ul {
    width: 91%;
}

h4 {
    margin-bottom: 10px;
    margin-top: 10px;
}

h2 {
    font-size: 24px;
}



#forbes ul {
    padding-left: 15px;
    width: 51%;
}

ul p {
    margin-top: 0;
}

.company {
        margin-top: 10px;
}

#cta {
    font-style: 
}

